apiVersion: tekton.dev/v1
kind: Pipeline
metadata:
  labels:
    app: todo-demo-app
  name: argocd-quay-todo-demo-app-pipeline-{{ user }}
  namespace: todo-demo-app-{{ user }}
spec:
  params:
    - name: IMAGE_TAG
      description: Image Tag Value
      default: latest
      type: string
    - name: CURRENT_IMAGE_TAG
      description: Current Image Tag Value
      default: CHANGEME
      type: string
    - name: quay-io-repository
      default: 'quay.io/takinosh/todo-demo-app:v1'
      type: string
    - name: quay-io-image-tag-name
      default: latest
      type: string
    - name: GIT_REPOSITORY
      default: >-
        {{ ocp4_workload_argocd_quay_todo_app_gitea_route }}/{{ user }}/todo-demo-app-helmrepo
      type: string
    - name: GIT_EMAIL
      default: pipeline@example.com
      type: string
    - name: GIT_NAME
      default: todo-demo-app
      type: string
    - name: REPLICA_COUNT
      default: '1'
      type: string
    - name: GIT_USERNAME
      type: string
    - name: GIT_TOKEN
      type: string
  workspaces:
    - name: shared-workspace-{{ user }}
    - name: maven-settings-{{ user }}
    - name: helm-shared-workspace-{{ user }}
  tasks:
    - name: fetch-repository
      params:
        - name: url
          value: 'https://github.com/tosin2013/todo-demo-app'
        - name: revision
          value: master
        - name: subdirectory
          value: ''
        - name: deleteExisting
          value: 'true'
      taskRef:
        kind: ClusterTask
        name: git-clone
      workspaces:
        - name: output
          workspace: shared-workspace-{{ user }}
    - name: maven-run
      params:
        - name: CONTEXT_DIR
          value: .
        - name: GOALS
          value:
            - '-DskipTests'
            - clean
            - package
      runAfter:
        - fetch-repository
      taskRef:
        kind: ClusterTask
        name: maven
      workspaces:
        - name: maven-settings-{{ user }}
          workspace: maven-settings-{{ user }}
        - name: source
          workspace: shared-workspace-{{ user }}
    - name: build-java-app-image
      params:
        - name: CONTEXT
          value: .
        - name: DOCKERFILE
          value: src/main/docker/Dockerfile
        - name: IMAGE
          value: >-
            image-registry.openshift-image-registry.svc:5000/todo-demo-app-{{ user }}/todo-demo-app-{{ user }}-image:latest
        - name: TLSVERIFY
          value: 'false'
      runAfter:
        - maven-run
      taskRef:
        kind: ClusterTask
        name: buildah
      workspaces:
        - name: source
          workspace: shared-workspace-{{ user }}
    - name: tag-test-image
      params:
        - name: SCRIPT
          value: |
            oc tag todo-demo-app-{{ user }}-image:$(params.IMAGE_TAG) todo-demo-app-{{ user }}-image:latest
      runAfter:
        - build-java-app-image
      taskRef:
        kind: ClusterTask
        name: openshift-client
    - name: push-todo-demo-app-image-to-quay-{{ user }}
      params:
        - name: quay-io-repository
          value: $(params.quay-io-repository)
        - name: quay-io-image-tag-name
          value: $(params.quay-io-image-tag-name)
      workspaces:
        - name: source
          workspace: shared-workspace-{{ user }}
      runAfter:
        - tag-test-image
      taskRef:
        kind: Task
        name: push-todo-demo-app-image-to-quay-{{ user }}
    - name: update-image-tag-in-git
      params:
        - name: GIT_REPOSITORY
          value: $(params.GIT_REPOSITORY)
        - name: GIT_EMAIL
          value: pipeline@example.com
        - name: GIT_NAME
          value: todo-demo-app
        - name: GIT_MANIFEST_DIR
          value: .
        - name: TARGET_IMAGE
          value: $(params.quay-io-repository)
        - name: TARGET_TAG
          value: $(params.quay-io-image-tag-name)
        - name: REPLICA_COUNT
          value: $(params.REPLICA_COUNT)
        - name: GIT_USERNAME
          value: $(params.GIT_USERNAME)
        - name: GIT_TOKEN
          value: $(params.GIT_TOKEN)
      workspaces:
        - name: source
          workspace: helm-shared-workspace-{{ user }}
      runAfter:
        - push-todo-demo-app-image-to-quay-{{ user }}
      taskRef:
        kind: Task
        name: update-image-tag-in-git
    - name: argocd-task-sync-and-wait
      params:
        - name: application-name
          value: todo-demo-app
        - name: revision
          value: main
      runAfter:
        - update-image-tag-in-git
      taskRef:
        kind: ClusterTask
        name: argocd-task-sync-and-wait
