apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: maven-settings-pvc-{{ user }}
  namespace: {{ namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 500Mi