---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  labels:
    operators.coreos.com/openshift-gitops-operator.openshift-operators: ""
  name: openshift-gitops-operator
  namespace: openshift-operators
spec:
  channel: gitops-1.13
  installPlanApproval: Automatic
  name: openshift-gitops-operator
  source: {{ gitops_source }}
  sourceNamespace: openshift-marketplace
