apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: push-todo-demo-app-image-to-quay-{{ user }}
  namespace: {{ namespace }}
spec:
  params:
    - name: quay-io-account
      type: string
      description: The quay.io account that matches the credentials stored in the mounted secret.
      default: container-registry-secret
    - name: quay-io-repository
      type: string
      description: The quay.io repository in which to store the image.
      default: quay.io/takinosh/todo-demo-app
    - name: quay-io-image-tag-name
      type: string
      description: The tag to use to identify the image.
      default: latest
    - name: STORAGE_DRIVER
      type: string
      description: The Buildah storage driver.
      default: overlay
  steps:
    - name: podman-pull-image
      image: registry.redhat.io/rhel9/podman
      script: |
        podman pull --tls-verify=false \
          docker://image-registry.openshift-image-registry.svc:5000/{{ namespace }}/todo-demo-app-{{ user }}-image:$(params.quay-io-image-tag-name)
      securityContext:
        privileged: true
      volumeMounts:
        - name: pipeline-cache
          mountPath: /var/lib/containers
    - name: buildah-tag-image
      image: registry.redhat.io/rhel9/buildah
      script: |
        buildah --storage-driver=$(params.STORAGE_DRIVER) tag \
          image-registry.openshift-image-registry.svc:5000/{{ namespace }}/todo-demo-app-{{ user }}-image:$(params.quay-io-image-tag-name) \
          $(params.quay-io-repository):$(params.quay-io-image-tag-name)
      securityContext:
        privileged: true
      volumeMounts:
        - name: pipeline-cache
          mountPath: /var/lib/containers
    - name: buildah-list-images-after-tagging
      image: registry.redhat.io/rhel9/buildah
      script: |
        buildah --storage-driver=$(params.STORAGE_DRIVER) images
      securityContext:
        privileged: true
      volumeMounts:
        - name: pipeline-cache
          mountPath: /var/lib/containers
    - name: push-todo-demo-app-image-to-quay-{{ user }}
      image: registry.redhat.io/rhel9/buildah
      script: |
        buildah --storage-driver=$(params.STORAGE_DRIVER) push --tls-verify=false \
          --authfile /etc/secret-volume/.dockerconfigjson \
          $(params.quay-io-repository):$(params.quay-io-image-tag-name)
      securityContext:
        privileged: true
      volumeMounts:
        - name: quay-auth-secret
          mountPath: /etc/secret-volume
          readOnly: true
        - name: pipeline-cache
          mountPath: /var/lib/containers
  volumes:
    - name: quay-auth-secret
      secret:
        secretName: container-registry-secret
    - name: pipeline-cache
      persistentVolumeClaim:
        claimName: todo-demo-app-shared-workspace-pvc-{{ user }}
