apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: shared-workspace-pvc-{{ user }}
  namespace: {{ namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
